TER/instancesMSG/msg.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MSG">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="listeMSC">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MSC" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="id"/>
                    <xs:element name="listeActions">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="action" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:byte" name="source"/>
                                <xs:element type="xs:byte" name="destination"/>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="type" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="listeArcs">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="arc">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="domaine"/>
                    <xs:element type="xs:byte" name="codomaine"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>